// .img-w {
//     width: 100%;
//     height: auto;
// }
.containerr {
    background-image: url("https://assorted.downloads.oppo.com/static/assets/products/fcb/images/2560/pc_bg@3x-a3f933d3301a288e002db5a44b09c472.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
    position: relative;
    .rounding-sec2 {
        // position: relative;
        height: 400px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        background-color: rgba($color: #0f0f0f, $alpha: 0.3);
        .phone{
            display: flex;
            align-items: center;
            gap: 14px;
            i{
                color: white;
                background: -webkit-linear-gradient(#fd9393, #6c82a9);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
                background: -webkit-linear-gradient(#fd9393, #6c82a9);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;            }
        }
        h2 {
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            background: -webkit-linear-gradient(#fd9393, #6c82a9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .footerCards {
            width: 400px;
            display: grid;
            grid-template-columns: auto auto auto;
            img {
                width: 90%;
            }
        }
    }

    // h3 {
    //     color: #fff;
    //     font-size: 1.5rem;
    //     opacity: 0;
    //     animation: topSideAni 1s ease forwards;
    // }

    // h1 {
    //     color: #fff;
    //     font-size: 4rem;
    //     font-weight: 600;
    //     opacity: 0;
    //     animation: leftSideAni 1s ease forwards;
    //     animation-delay: 1s;
    // }

    // button {
    //     background-color: transparent;
    //     color: var(--primary-color);
    //     border: 2px solid var(--primary-color);
    //     padding: 0.8rem 1rem;
    //     font-size: 1.1rem;
    //     border-radius: 7px;
    //     margin-top: 2rem;
    //     cursor: pointer;
    // }

    // .images {
    //     margin-left: auto;
    //     width: 300px;

    //     img {
    //         border-radius: 50%;
    //         box-shadow: 0 0 10px #D1D9E6;
    //     }
    // }

    // position: relative;

    .big-circle {
        height: 35%;
        width: 35%;
        position: relative;
        border: 1px solid #bbbbbb;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        animation: Rotate 20s linear infinite;
        -webkit-animation: Rotate 20s linear infinite;
        position: absolute;
        left: 20px;
        bottom: 25px;
    }

    .icon-block {
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        // background-color: white;
        background: rgb(177, 3, 3);
        background: linear-gradient(
            135deg,
            rgba(177, 3, 3, 0.8632703081232493) 20%,
            rgba(14, 43, 142, 0.8688725490196079) 61%
        );
        box-shadow: 0 0 20px #0f0a0a;

        img {
            color: white;
            margin: 0px auto;
            width: 60%;
            animation: Rotate-reverse 20s linear infinite;
            -webkit-animation: Rotate-reverse 20s linear infinite;
        }
    }

    .icon-block:first-child {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .icon-block:nth-child(2) {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
    }

    .icon-block:nth-child(3) {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        -webkit-transform: translate(-50%, 50%);
    }

    .icon-block:nth-child(4) {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .rounding-sec {
        position: relative;
        height: 400px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        background-color: rgba($color: #0f0f0f, $alpha: 0.3);
        h2 {
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            background: -webkit-linear-gradient(#fd9393, #6c82a9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            font-size: 13px;
            background: -webkit-linear-gradient(#f19494, #748db8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .images {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    @keyframes Rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes Rotate {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes Rotate-reverse {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    @-webkit-keyframes Rotate-reverse {
        from {
            -webkit-transform: rotate(360deg);
        }

        to {
            -webkit-transform: rotate(0deg);
        }
    }

    @keyframes leftSideAni {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes navani {
        0% {
            transform: translateY(100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes topSideAni {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
